body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #c6ffdd;
  background: -webkit-linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: white;
  border-radius: 5px;
}

.button {
  font-family: "Ubuntu", sans-serif;
  margin-top: 1rem;
  background: white;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  border-radius: 1rem;
  height: 1.5rem;
  width: 6rem;
}

.list-header {
  font-size: 20px;
}

.task-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.task-input {
  border-style: solid;
  outline: none;
  border-width: 1px;
  height: 1.5rem;
  width: 12rem;
  border-radius: 5px;
}

.button:hover {
  background: rgb(248, 245, 245);
}

footer {
  text-align: right;
}
